<launch>
  <arg name="serial_no_rs_right_forward"    default="746112060986"/>
  <arg name="namespace_1"       value="rs_right_forward"/>
  <arg name="serial_no_rs_left_forward"    default="746112060547"/>
  <arg name="namespace_2"       value="rs_left_forward"/>
  <arg name="serial_no_rs_front_forward"    default="746112060559"/>
  <arg name="namespace_3"       value="rs_front_forward"/>
  <arg name="serial_no_rs_front_down"    default="746112060693"/>
  <arg name="namespace_4"       value="rs_front_down"/>
  <arg name="serial_no_rs_left_side"    default="732612061031"/>
  <arg name="namespace_5"       value="rs_left_side"/>
  <arg name="serial_no_rs_right_side"    default="746112060688"/>
  <arg name="namespace_6"       value="rs_right_side"/>
  <arg name="serial_no_rs_rear"    default="751412060860"/>
  <arg name="namespace_7"       value="rs_rear"/>

  <arg name="high_density" default="false"/>
  <arg name="mid_density" default="false"/>
  <arg name="high_accuracy" default="false"/>
 <arg name="operation_mode" value="$(find realsense_ros_camera)/launch/includes/high_res_high_density.json" if="$(arg high_density)"/>
  <arg name="operation_mode" value="$(find realsense_ros_camera)/launch/includes/high_res_mid_density.json" if="$(arg mid_density)"/>
  <arg name="operation_mode" value="$(find realsense_ros_camera)/launch/includes/high_res_high_accuracy.json" if="$(arg high_accuracy)"/>

  <group ns="$(arg namespace_1)">
    <include file="$(find realsense_ros_camera)/launch/includes/marble_config.launch.xml">
      <arg name="serial_no"                value="$(arg serial_no_rs_right_forward)"/>
      <arg name="base_frame_id"            value="$(arg namespace_1)_link"/>
      <arg name="node_namespace"           value="$(arg namespace_1)"/>
    </include>
  </group>

 <group ns="$(arg namespace_2)">
    <include file="$(find realsense_ros_camera)/launch/includes/marble_config.launch.xml">
      <arg name="serial_no"                value="$(arg serial_no_rs_left_forward)"/>
      <arg name="base_frame_id"            value="$(arg namespace_2)_link"/>
      <arg name="node_namespace"           value="$(arg namespace_2)"/>
    </include>
  </group>

  <group ns="$(arg namespace_3)">
    <include file="$(find realsense_ros_camera)/launch/includes/marble_config.launch.xml">
      <arg name="serial_no"                value="$(arg serial_no_rs_front_forward)"/>
      <arg name="base_frame_id"            value="$(arg namespace_3)_link"/>
      <arg name="node_namespace"           value="$(arg namespace_3)"/>
    </include>
  </group>

  <group ns="$(arg namespace_4)">
    <include file="$(find realsense_ros_camera)/launch/includes/marble_config.launch.xml">
      <arg name="serial_no"                value="$(arg serial_no_rs_front_down)"/>
      <arg name="base_frame_id"            value="$(arg namespace_4)_link"/>
      <arg name="node_namespace"           value="$(arg namespace_4)"/>
    </include>
  </group>

  <group ns="$(arg namespace_5)">
    <include file="$(find realsense_ros_camera)/launch/includes/marble_config.launch.xml">
      <arg name="serial_no"                value="$(arg serial_no_rs_left_side)"/>
      <arg name="base_frame_id"            value="$(arg namespace_5)_link"/>
      <arg name="node_namespace"           value="$(arg namespace_5)"/>
    </include>
  </group>

  <group ns="$(arg namespace_6)">
    <include file="$(find realsense_ros_camera)/launch/includes/marble_config.launch.xml">
      <arg name="serial_no"                value="$(arg serial_no_rs_right_side)"/>
      <arg name="base_frame_id"            value="$(arg namespace_6)_link"/>
      <arg name="node_namespace"           value="$(arg namespace_6)"/>
    </include>
  </group>

  <group ns="$(arg namespace_7)">
    <include file="$(find realsense_ros_camera)/launch/includes/marble_config.launch.xml">
      <arg name="serial_no"                value="$(arg serial_no_rs_rear)"/>
      <arg name="base_frame_id"            value="$(arg namespace_7)_link"/>
      <arg name="node_namespace"           value="$(arg namespace_7)"/>
      <arg name="machine"                  value="com-2"/>
    </include>
  </group>

</launch>
