<launch>
  <arg name="serial_no_camera1"    default="752112070754"/> <!-- Note: Replace with actual serial number -->
  <arg name="serial_no_camera2"    default="739112060392"/> <!-- Note: Replace with actual serial number -->

  <group ns="camera1">
    <include file="$(find realsense_ros_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"    value="$(arg serial_no_camera1)"/>
    </include>
  </group>

  <group ns="camera2">
    <include file="$(find realsense_ros_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"    value="$(arg serial_no_camera2)"/>
    </include>
  </group>
</launch>
