<launch>
  <arg name="is_435" default="false"/>
  <arg name="high_density" default="false"/>
  <arg name="mid_density" default="false"/>
  <arg name="high_accuracy" default="false"/>

  <arg name="serial_no" value="752112070754" if="$(arg is_435)"/>
  <arg name="namespace" value="rs_435" if="$(arg is_435)"/>
  <arg name="serial_no" value="739112060392" unless="$(arg is_435)"/>
  <arg name="namespace" value="rs_415" unless="$(arg is_435)"/>

  <arg name="operation_mode" value="$(find realsense_ros_camera)/launch/includes/high_res_high_density.json" if="$(arg high_density)"/>
  <arg name="operation_mode" value="$(find realsense_ros_camera)/launch/includes/high_res_mid_density.json" if="$(arg mid_density)"/>
  <arg name="operation_mode" value="$(find realsense_ros_camera)/launch/includes/high_res_high_accuracy.json" if="$(arg high_accuracy)"/>

  <group ns="$(arg namespace)">
    <include file="$(find realsense_ros_camera)/launch/includes/marble_config.launch.xml">
      <arg name="serial_no"                value="$(arg serial_no)"/>
      <arg name="base_frame_id"            value="$(arg namespace)_link"/>
      <arg name="node_namespace"           value="$(arg namespace)"/>
    </include>
  </group>
</launch>
